.about-page {
  min-height: 100vh;
  background-color: #f7f8fa;
  position: relative;
  padding-bottom: 5vh;
}

.header-section {
  background: linear-gradient(
    180deg,
    #50dcb6 0%,
    #87e8d6 80%,
    rgb(135 232 214 / 0%) 100%
  );
  padding: 3vh 6vw 10vh;
  display: flex;
  justify-content: center;

  .app-display {
    width: 100%;

    .logo-wrapper {
      width: 22vw;
      height: 22vw;
      border: 0.8vw solid rgb(255 255 255 / 40%);
      border-radius: 10%;
      margin-bottom: 2vh;
      background: #fff;
      padding: 1vw;

      .logo {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10%;
      }
    }

    .app-name {
      color: #fff;
      font-size: 45px;
      font-weight: 500;
      margin-bottom: 1vh;
      text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    }

    .version-tag {
      background: rgb(255 255 255 / 25%);
      padding: 0.5vh 4vw 0.8vh;
      border-radius: 4vw;
      margin-bottom: 2vh;
      height: fit-content;

      text {
        color: #fff;
        font-size: 25px;
      }
    }

    .description {
      color: #fff;
      font-size: 30px;
      line-height: 1.6;
      text-align: center;
      opacity: 0.95;
      padding: 0 6vw;
      letter-spacing: 2px;
    }
  }
}

.info-card {
  margin: -6vh 4vw 0;
  background: #fff;
  border-radius: 3vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 0.5vh 0;
  box-shadow: 0 1vh 3vw rgb(0 0 0 / 5%);

  .info-cell {
    padding: 2vh 5vw;

    &::after {
      left: 5vw;
      right: 5vw;
    }

    .taroify-cell {
      &__right-icon {
        margin-top: 15px;
      }
    }

    .taroify-cell__title {
      font-weight: 500;
      font-size: 30px;
    }

    .taroify-cell__value {
      font-size: 30px;
    }
  }
}

.feature-card {
  margin: 2vh 4vw 0;
  background: #fff;
  border-radius: 3vw;
  padding: 3vh 5vw;
  box-shadow: 0 1vh 3vw rgb(0 0 0 / 5%);

  .card-title {
    text-align: center;
    font-size: 40px;
    color: #333;
    font-weight: 500;
    margin-bottom: 3vh;
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    .feature-item {
      background: #f5f7fa;
      padding: 1.8vh 4vw;
      border-radius: 2vw;
      display: flex;
      align-items: center;

      .feature-icon {
        font-size: 40px;
        color: #50dcb6; /* 使用主题色 */
        margin-right: 3vw;
      }

      text {
        font-size: 30px;
        color: #555;
        margin-left: 3vw;
      }
    }
  }
}

.copyright-area {
  margin-top: 5vh;
  text-align: center;
  color: #999;
  font-size: 30px;
  line-height: 1.5;
}

.footer-area {
  margin-top: 4vh;
  padding: 0 4vw;

  .back-button {
    height: 7vh;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 1vh 3vw rgb(80 220 182 / 40%);
    border-radius: 3.5vh;
  }
}
